body {
    /* background-color: hsl(180, 70%, 10%); */
}

.canvas-container {
    height: 250px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 1px solid black;
    /* background-color: hsl(0, 25%, 80%); */
}