body {
    background: #000900;
    user-select: none;
    color: white;
}

.wrapper {
    /* position: flex; */
    margin: auto;
    margin-top: 15vh;
    width: 75vw;
    height: 300px;
    border: 3px solid white;
    background: url('./assets/images/splashscreen.jpg');
}

.game-container {
    margin-left: 10vw;
    width: 420;
    height: 270;
}

.game-layer {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    display: none;
}

.game-start-screen {
    padding-top: 25px;
    text-align: center;
}

.game-start-screen img {
    margin: 10px;
    cursor: pointer;
}
